<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> employee page to submit reimbursement requests</title>
        <link rel="stylesheet" href="../styles/greendale.css">
    </head>
    <body>
        <div id="banner">
            <img src="https://images5.fanpop.com/image/photos/27700000/Community-greendale-community-college-27772486-800-231.png" alt="greendale logo" />
            <h2>Greendale Community College Employee Portal</h2>
        </div>
        <div id="info">
            <h3> Welcome, (first name, last name)</h3>
            <p>(department)</p>
        </div>
        <div id="requests">
            <table>
                <caption>Reimbursement Requests:</caption>
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>$ Amount</th>
                    <th>Notes</th>
                    <th>Date (YYYY-MM-DD)</th>
                    <th>Status</th>
                    <th>Approved By</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div id="submission">
            <h3>Submit a new Reimbursement Request:</h3>
            <form action="submitted.html" target="_blank" method="post">
                Amount ($):<br />
                <input type = "number" name="Amount" placeholder="$$$$" required/>
                <br />
                Reason:<br />
                <input type = "text" name = "reason" placeholder="Reason" required/>
                <br />
                Date (YYYY-MM-DD):<br />
                <input type = "number" name="Date" placeholder="YYYY-MM-DD" required/>
                <br></br>
                Submit
                <input type = "submit" value ="Submit" />
            </form>

        </div>
    </body>
</html>