<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"
        <title> employee page to submit reimbursement requests</title>
    </head>
    <body>
        <div id="info">
            <p> here will go the employee information (first name, last name, department, permission?</p>
        </div>
        <div id="requests">
            <p>a table or something listing employee's reimbursements requests will go here</p>
        </div>
        <div id="submission">
            <p> here is a form to make a new submission.  Probably some text boxes, maybe a radio button and/or check boxes</p>
        </div>
    </body>
</html>