<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<title>Test Page for Practice</title>
</head>

<body>
    <p>
        This is a test of the Emergency Website System.  This is only a test.
        Below are a bunch of elements copied from the Revature curriculum
    </p>


<table>
    <h1> this is a table:</h1>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Alice</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Bob</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Charlie</td>
      </tr>
    </tbody>
  </table>
<h2> this is an ordered list </h2>
  <ol> <!-- ordered lists render as 1, 2, 3, etc.. -->
    <li>First item</li>
    <li>Second item</li>
    <li>Third item</li>
  </ol>
  <h2>and an unordered list</h2>
  <ul> <!-- list items in here will just be bullet points -->
    <li>First item</li>
    <li>Second item</li>
    <li>Third item</li>
  </ul>

  <h3> this is a section</h3>
  <section>
    <h1>Protocol</h1>
    <p>A protocol is a standard set of rules that allow electronic devices to communicate with each other.</p>
  </section>

  <h4> this is an article</h4>
  <article>
    <h1>What WHO do?</h1>
    <p>WHO works worldwide to promote health, keep the world safe, and serve the vulnerable. Our goal is to ensure that a billion more people have universal health coverage, to protect a billion more people from health emergencies, and provide a further billion people with better health and well-being..</p>
  </article>

  <!-- example defines a header for an article -->
  <h5> and a header for an article</h5>
<article>
    <header>
      <h1>World Health Organisation</h1>
      <p>What we do?</p>
    </header>
    <p>WHO works worldwide to promote health, keep the world safe, and serve the vulnerable. Our goal is to ensure that a billion more people have universal health coverage, to protect a billion more people from health emergencies, and provide a further billion people with better health and well-being..</p>
  </article>

  <h6> how about some navigation?</h6>
  <nav>
    <a href="/html/">HTML</a> |
    <a href="/css/">CSS</a> |
    <a href="/js/">JavaScript</a> |
    <a href="/jquery/">jQuery</a>
  </nav>

  <h5> or an aside?</h5>
  <p>I went TajMahal for this summer</p>

  <aside>
    <h4>Taj Mahal</h4>
    <p>The Taj Mahal is an ivory-white marble mausoleum on the south bank of the Yamuna river in the Indian city of Agra.</p>
  </aside>


<h1> and a footer to round things out</h1>
  <footer>
    <p>Posted by: someone </p>
    <p>Contact information: <a href="mailto:someone@example.com">
    someone@example.com</a>.</p>
  </footer>
</body>
</html>