<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../styles/form.css"/>
		<link rel="stylesheet" href="../styles/index.css"/>
	</head>
	
	<header>
		<img id="header_img_left" src="../images/smalllogo.PNG" />
    <h2 id="header_h2">Reimbursements</h2>
    <div id="right_img_container">
        <img id="header_img_right" src="../images/smalllogo.PNG" />
    </div>
	</header>
	
	<body>
		<form id="reimbursement_form">
			<input id="amount" name="amount" type="number" placeholder="Requested Amount"/>
			<textarea id="memo" name="comment" rows="4" cols="50" ro></textarea>
			<input id="reimbursement-button" name="reimbursement-button" type ="button" value="Submit"/>
		</form>
	</body>
	
	<footer>
	</footer>

	<script src="../scripts/reimbursementPage.js"></script>
	
</html>
